<div class="container">
    <h3 class="text-center mb-3">
        WelCome to Lawyer Home Page
    </h3>
    <div>
        <a [routerLink]="['../profile']">Go To Profile</a><br>
        <a [routerLink]="['../calendar']">Go To Calendar</a><br>
        <a [routerLink]="['../roaster']">Go To Roaster</a><br>
        <a [routerLink]="['../file-manager']">Go To File Manager</a><br>
        <a [routerLink]="['../contacts']">Go To Contacts</a><br>
        <br>
        <button class="btn btn-success" type="button" (click)="signOut()">Sign Out</button>
    </div>
</div>