<div class="container">
    <h2 class="text-center mb-5">Sign In</h2>
    <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 pb-4">

                        <label for="email" class="form-label">Enter Email</label>
                        <div class="form-group mb-2">
                            <input type="text" class="form-control " formControlName="email" placeholder="Email Address"
                                id="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback d-block">
                                <div *ngIf="f.email.errors.required">Email required</div>
                                <div *ngIf="f.email.errors.customValidator">Enter valid email</div>
                            </div>
                        </div>

                        <label for="password" class="form-label">Password</label>
                        <div class="form-group mb-2">
                            <input type="text" class="form-control " formControlName="password" placeholder="Password"
                                id="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback d-block">
                                <div *ngIf="f.password.errors.required">Password required</div>
                                <div *ngIf="f.password.errors.minlength">Password must have minimum 8
                                    characters</div>
                                <div *ngIf="submitted && f.password.errors?.passwordStrength">
                                    Your password must have lower and upper case, also special and numeric
                                    characters.
                                </div>
                            </div>
                        </div>

                        <div class="invalid-feedback d-block  mb-2">
                            <div>{{errormessage}}</div>
                        </div>

                        <div class="d-grid gap-2">
                            <button [disabled]="" class="btn btn-success p-3" type="submit">
                                Sign In
                            </button>

                            <button class="btn btn-success px-3 py-2 flex-fill" type="button"
                            (click)="signInWithGmail()">
                            Sign In with Gmail
                        </button>
                        <button class="btn btn-success px-3 py-2 flex-fill" type="button"
                            (click)="signInWithFacebook()">
                            Sign In with Facebook
                        </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>